package partials

templ LoginError() {
	<p class="alert alert-danger text-center text-cp_red" role="alert">
		<strong>Error:</strong> Invalid username or password.
	</p>
}

templ RegisterError(message string) {
	<p class="alert alert-danger text-center text-cp_red" role="alert">
		<strong>Error:</strong> { message }
	</p>
}
