package partials

templ LoginError() {
	<div class="alert alert-danger" role="alert">
		<strong>Error:</strong> Invalid username or password.
	</div>
}

templ RegisterError(message string) {
	<div class="alert alert-danger" role="alert">
		<strong>Error:</strong> { message }
	</div>
}
