package templates

templ HomePage(){
  @layout(BaseData{IsAuth: false}){
      <div class="flex items-center justify-center my-4">
          <div class="text-7xl text-center">Welcome to Newsly</div>
      </div>
  }

}